.textSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timeline {
  display: flex;
  align-items: center;
  padding: 50px;
}

.timeline-line {
  width: 2px;
  background-color: #ddd;
  flex: 0 0 2px;
  margin-right: 50px;
}

.timeline-item {
  margin-bottom: 20px;
}

.timeline-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  margin-right: 10px;
}

.timeline-content {
  position: relative;
}

.timeline-content h3 {
  margin-bottom: 5px;
  font-weight: bold;
}